* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}
body {
  font-family: "Roboto", sans-serif;
}
/*********************************Home****************************/
#home {
  background-image: url(./images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #d71636;
  height: 10vh;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nav-option li {
  display: inline-block;
  list-style-type: none;
}
.nav-option a {
  margin: 0 2rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding-right: 2.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.nav-option a:hover {
  color: #000;
}

.home-body {
  color: #fff;
  font-family: "Ubuntu", sans-serif !important;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
  margin-left: 7rem;
}
.home-body h3 {
  font-size: 30px;
  font-weight: 500;
}
.home-body h1 {
  font-size: 6rem;
  font-weight: bolder;
}
.home-body h2 {
  font-size: 38px;
  font-weight: 200;
}
.home-body h1,
.home-body h2 {
  line-height: 6rem;
}
.logo {
  margin-left: 5rem;
}
#logo1 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
}
#logo2 {
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
}
#home-body-span {
  color: #d71636;
}
.btn-red {
  font-family: "Ubuntu", sans-serif;
  background-color: #d71636;
  border-radius: 10px;
  width: 45%;
  color: #fff;
  padding: 1.2rem;
  font-size: 1.3rem;
  border-style: none;
  cursor: pointer;
}
.btn-red:hover {
  background-color: #933b3b5e;
  border: #d71636;

  border-style: outset;
  color: #d71636;
  width: 45%;
  border-radius: 10px;
}
/*********************************Home-end****************************/
/*********************************About****************************/

#about {
  height: 900px;
}
.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding-top: 7rem;
}
.about-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-body img {
  width: 500px;
  height: 500px;
  border-radius: 0.5rem;
}
.description {
  line-height: 2rem;
  width: 50%;
}
.description p {
  margin: 1.5rem 0;
  font-family: roboto;

  font-size: 1.4rem;
}
.description h2 {
  font-size: 2rem;
}
.description h2 span {
  color: #d71636;
}
#about h1 {
  font-size: 3rem;
  font-weight: 500;
}
#about hr {
  width: 10%;
  border: 3px solid #000;
}
#about h3 {
  color: #d71636;
}

/*********************************About-end****************************/

/*********************************Service****************************/

#service {
  height: 900px;
  background-color: #000;
}
.service-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding-top: 160px;
}
.service-title h1 {
  font-size: 3rem;
  font-weight: 500;
}
.service-title hr {
  width: 10%;
}
.service-title h3 {
  color: #d71636;
}
.service-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.service-card {
  color: #fff;
  background-color: #66646461;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 46%;
  line-height: 36px;
  padding: 2rem;
}

.service-card i {
  font-size: 4rem;
  font-weight: 600;
  color: #d71636;
}
.service-card h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0rem;
}
.service-card p {
  font-size: 19px;
  text-align: center;
}
/*********************************Service-end****************************/

/*********************************Skills****************************/
#skills {
  height: 800px;
}
.skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding-top: 2rem;
}
.skills-title h1 {
  font-size: 3rem;
  font-weight: 500;
}
.skills-title hr {
  width: 10%;
}
.skills-title h3 {
  color: #d71636;
}
.skills-description {
  line-height: 2rem;
  width: 100%;
}
.skills-description p {
  margin: 1.5rem 0;
  font-family: roboto;

  font-size: 1.4rem;
}
.skills-content {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
.skill-percent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.skill-container {
  margin: 15px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.skill-value-back {
  background-color: #a5a5a5;
  height: 5px;
}
.skill-value-front-html {
  background-color: #d71636;
  width: 90%;
  height: 5px;
}
.skill-value-front-css {
  background-color: #d71636;
  width: 70%;
  height: 5px;
}
.skill-value-front-js {
  background-color: #d71636;
  width: 50%;
  height: 5px;
}
.skill-value-front-ang {
  background-color: #d71636;
  width: 10%;
  height: 5px;
}
.skill-value-front-data {
  background-color: #d71636;
  width: 30%;
  height: 5px;
}
.skill-container span {
  font-size: 1.2rem;
}
/*********************************Skills-end****************************/

/*********************************Teams****************************/

#team {
  height: 800px;
  background-color: #000;
}
.team-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding-top: 2rem;
}
.team-title h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}
.team-title hr {
  width: 10%;
}
.team-title h3 {
  color: #d71636;
}
.team-content {
  display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.team-card {
  background-color: #66646461;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 3rem;
}
.team-card img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  border-width: 3px;
  border: 5px solid #d71636;
}
.team-card h2 {
  color: #fff;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 100;
}
.team-card p {
  color: #fff;
  text-align: center;
  font-size: 17px;
    line-height: 25px;
}
/*********************************Teams-end****************************/

/*********************************Contact****************************/
             
#contact {
  height: 800px;

}
.contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding-top: 2rem;
}
.contact-title h1 {
  font-size: 3rem;
  font-weight: 500;
 
}
.contact-title hr {
  width: 10%;
}
.contact-title h3 {
  color: #d71636;
}
.contact-details{
  display: flex;
  align-items: center;
  margin: 1.6rem;
}
.contact-details i{
  font-size: 2.3rem;
  padding-right: 3rem;
  color: #d71636;
}
.contact-form{
  line-height: 4rem;
}
.contact-left{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact-body{
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}
.contact-form-details{
  width: 30%;
}
.contact-form-details h2, .get-in-touch h2{
  font-size: 1.6rem;
  font-weight: 500;
}
.get-in-touch p{
  line-height: 1.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #00000087;
  padding: 1.3rem 0;
}

.contact-form textarea{
  width: 100%;
  border-radius: 0.3rem;
  border-width: 2px;
  border-color: #9f9f9f4d;
  border-style: solid;
}

.light-font-shade{
  
  color: #00000087;
}
.contact-input h3{
  font-weight: 500;
}
.contact-form button{
  margin: 10px;
}
.name-email{
  width: 50%;
  padding: 1rem;
  border-radius: 0.3rem;
  border-color: #9f9f9f4d;
  border-style: solid;
  outline: none;
  margin: 5px;
  margin-right: 0;
}
#subject{
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  border-color: #9f9f9f4d;
  border-style: solid;
  outline: none;
  margin: 5px;
}
#email-icon{
  font-size: 2rem;
}
/* common classes */
.mx-2{
  margin: 0 10px;
}

.my-2{
  margin: 10px 0;
}
.m-2{
  margin: 10px;
}